* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.main-content {
    width: 650px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    display: block;
    font-family: "Century Gothic";
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    width: 70px;
    text-align: center;
}

form:nth-child(2) {
    margin-top: 20px;
}

.insert-cred {
    display: block;
    font-family: "Century Gothic";
    margin-top: 30px;
    width: 300px;
    padding: 5px;
}

.init-text {
    font-family: "Century Gothic";
    font-weight: lighter;
    font-size: 50px;
    margin-top: 30px;
    align-self: center;
}

input {
    all: unset;
    border: 1px solid black ;
    border-radius: 8px;
    
}

.login-link {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.button-container {
    margin-top: 30px;
}

.check-psw-container {
    display: flex;
    width: 300px;
    margin-top: 10px;
    justify-content: space-between;
}

.checkbox {
    display: inline-flex;
    align-items: center;
}

.checkbox-input {
    display: none;
}

.checkbox-box {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background-color 0.15s, border-color 0.15s;
}

.checkbox-box::after {
    content: '\01F5F8';
    color: black;
    transform: scale(0);
    transition: transform 0.15s;
}

.checkbox-input:checked + .checkbox-box{
    background-color: white;
    border-color: black;
}

.checkbox-input:checked + .checkbox-box::after {
    transform: scale(1);
}

.checkbox-text {
    font-family: "Century Gothic";
    font-weight: lighter;
    font-size: small;
}

.forget-psw {
    text-decoration: underline;
    color: black;
    font-family: "Century Gothic";
    font-weight: lighter;
    font-size: small;
}